* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  outline: none;
}
body {
  background: url("../imgs/bg1.jpg");
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: #000000b5;
  position: fixed;
  top: 0;
  &-input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-right: 30px;
    width: 225px;
  }
  &-btn {
    background: #16339c;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 10px;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;

    &:hover {
      background: #1c1cff;
      padding: 10px 20px;
    }
  }
}
.main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  &-alert {
    background: #d60505;
    color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    top: -50vh;
    transition: 1s;
    display: flex;
    align-items: center;
    &::after{
      content: '';
      display: block;
      background: #d60505;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      position: absolute;
      top: -10px;
      width: 30px;
      height: 15px;
    }
    &.show{
      top: 10vh;
    }
    &-img{
      width: 30px;
      margin-left: 15px;
    }
  }
  &-resp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .hero {
      margin: 15px 20px;
      border-radius: 0 0 15px 15px;
      background: #000000b5;
      &-img {
        width: 275px;
        height: 350px;
        border-radius: 15px 15px 0 0;
      }
      &-name {
        color: white;
        text-align: center;
        font-size: 25px;
      }
      &-stats {
        color: white;
        padding: 20px 5px;
        &-title {
          text-align: center;
          margin-bottom: 5px;
          font-size: 20px;
        }
        &-box {
          display: flex;
          justify-content: space-between;
          &-value {
          }
        }

        &-buttons{
          display: flex;
          justify-content: space-evenly;
          &-btn {
            background: #16339c;
            color: #ffffff;
            cursor: pointer;
            padding: 10px 0px;
            border: none;
            transition: all 0.5s;
            border-radius: 10px;
            width: 45%;
            &:hover {
              background: #1c1cff;
            }
            &.squad{
              background: #9c161d;
              &:hover {
                background: #ca1a23;
              }
            }
          }
        }
      }
      
    }
  }
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  &-dev{
    color: white;
    display: flex;
    align-items: center;
    &-img{
      width: 30px;
      margin: 0 10px;
    }
    a{
      margin: 0 5px;
    }
  }
}




