* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  outline: none;
}

body {
  background: url("../imgs/bg1.jpg");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100%;
  background: #000000b5;
  position: fixed;
  top: 0;
}

.header-box {
  position: relative;
}

.header-box-input {
  padding: 10px;
  border-radius: 15px;
  border: none;
  margin-right: 30px;
  width: 225px;
}

.header-box-find {
  position: absolute;
  left: -100%;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
  background: #360081;
  padding: 10px 20px;
  border-radius: 15px;
}

.header-box-find::after {
  content: '';
  display: block;
  background: #360081;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: 12px;
  width: 30px;
  height: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -18px;
}

.header-box-find.active {
  left: 5%;
}

.header-box-find.bounce {
  -webkit-animation: find 2s infinite;
          animation: find 2s infinite;
}

.main {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.main-alert {
  background: #d60505;
  color: white;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 20px;
  position: absolute;
  top: -50vh;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main-alert::after {
  content: '';
  display: block;
  background: #d60505;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: -10px;
  width: 30px;
  height: 15px;
}

.main-alert.show {
  top: 10vh;
}

.main-alert-img {
  width: 30px;
  margin-left: 15px;
}

.main-resp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.main-resp-steps {
  position: relative;
}

.main-resp-steps-text {
  position: absolute;
  color: white;
  bottom: 7px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 2px 25px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-resp-steps-text.info {
  background: #360081;
  left: -500%;
}

.main-resp-steps-text.info::after {
  content: '';
  display: block;
  background: #360081;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: 12px;
  width: 30px;
  height: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -21px;
}

.main-resp-steps-text.info.active {
  left: -155%;
}

.main-resp-steps-text.fav {
  background: #360081;
  left: 500%;
}

.main-resp-steps-text.fav::after {
  content: '';
  display: block;
  background: #360081;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: 12px;
  width: 30px;
  height: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -21px;
}

.main-resp-steps-text.fav.active {
  left: 115%;
}

.main-resp-steps-img {
  width: 215px;
  margin-top: 13vh;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-resp-steps-img.active {
  opacity: 1;
}

.main-resp-steps-imgTxt {
  position: absolute;
  left: -35px;
  color: white;
  background: #360081;
  padding: 10px 20px;
  border-radius: 15px;
  top: 40px;
  width: 245px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-resp-steps-imgTxt.active {
  opacity: 1;
}

.main-resp .hero {
  margin: 15px 20px;
  border-radius: 15px;
  background: #000000b5;
}

.main-resp .hero-img {
  width: 290px;
  height: 290px;
  border-radius: 15px 15px 0 0;
}

.main-resp .hero-name {
  color: white;
  text-align: center;
  font-size: 25px;
}

.main-resp .hero-stats {
  color: white;
  padding: 20px 5px;
}

.main-resp .hero-stats-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.main-resp .hero-stats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-resp .hero-stats-box-value {
  font-size: 14px;
}

.main-resp .hero-stats-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 15px;
}

.main-resp .hero-stats-buttons-btn {
  background: #16339c;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 0px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  width: 45%;
}

.main-resp .hero-stats-buttons-btn:hover {
  background: #1c1cff;
}

.main-resp .hero-stats-buttons-btn.squad {
  background: #9c161d;
}

.main-resp .hero-stats-buttons-btn.squad:hover {
  background: #ca1a23;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
}

.footer-dev {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-dev-img {
  width: 30px;
  margin: 0 10px;
}

.footer-dev a {
  margin: 0 5px;
}

@-webkit-keyframes find {
  0% {
    left: 5%;
  }
  50% {
    left: 7%;
  }
  100% {
    left: 5%;
  }
}

@keyframes find {
  0% {
    left: 5%;
  }
  50% {
    left: 7%;
  }
  100% {
    left: 5%;
  }
}
/*# sourceMappingURL=style.css.map */